<div class="row">
    <% @microposts.each do |micropost| %>
      <div class="col-md-4 col-md-offset-4">
        <%= gravatar_for micropost.user %>
        <%= micropost.user.user_name %>
        <%= image_tag micropost.picture.url if micropost.picture? %>
        <%= form_for(micropost) do |f| %>
          <%= f.text_area :content, class: 'form-control',
                        placeholder: 'コメントを入れてください。' %>
        <% end %>
      </div>
    <% end %>
</div>
