<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in" %>

  <p>アカウントをお持ちでないですか？ <%= link_to "登録する", signup_path %></p>
  
<% end %>
