<div class="row">
  <div class="col">
    <%= form_for(@user, url: user_path(@user)) do |f| %>

      <%= f.label :full_name, 'フルネーム' %>
      <%= f.text_field :full_name, class: 'form-control' %>

      <%= f.label :user_name, 'ユーザネーム' %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :web_site, 'ウェブサイト' %>
      <%= f.text_field :web_site, class: 'form-control' %>

      <%= f.label :self_introduction, '自己紹介' %>
      <%= f.text_field :self_introduction, class: 'form-control' %>

      <%= f.label :sex, '男' %>
      <%= f.radio_button :sex, '男', checked: true%>
      <%= f.label :sex, '女' %>
      <%= f.radio_button :sex, '女' %>

      <%= f.submit '更新' %>
    <% end %>

    <%= link_to 'パスワード変更', edit_password_path(@user) %>
    <%= link_to 'アカウント削除', user_path(@user), method: :delete,
                  data: { confirm: '本当に削除してよろしいですか？' } %>
  </div>
</div>



